<table class="footer">
  <tr>
    <td valign="top">
    	<strong>ReserveBar.com</strong><br />
			421 Main Street, 2nd floor<br />
			Ridgefield, CT 06877<br />
			info@reservebar.com
		</td>
  </tr>
</table>
